<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>

    <style>
        .res-details{        
            border: thin solid black;
            padding: 0px 0px 20px 20px;
            width: 300px;
        }
        img {
            margin: 0px 0px 0px -21px;
        }
    </style>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2>The Best Pick For You:</h2> 
        <section class="res-details">
        <h3>{{ restaurant.get('name') }}</h3>
        <img src= "{{restaurant.get('image_url')}}" width="300" height="300" alt="restaurant image"/>
        <p><b>Address: </b>{{restaurant.get('display_address')}} </p>
        <p><b>Rating: </b> {{restaurant.get('rating')}} </p>
        <p><b>Review count: </b> {{restaurant.get('review_count')}} </p>
        </section>
        
    </main>
</body>
</html>

